@model Video

<div class="row form-group">
    <label asp-for="Title" class="col-form-label col-md-2"></label>
    <div class="col-sm-10">
        <input asp-for="Title" class="form-control" placeholder="Title..." />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
</div>
<div class="row form-group">
    <label asp-for="Title" class="col-form-label col-md-2"></label>
    <div class="col-sm-10">
        <select asp-for="Genre" asp-items="Html.GetEnumSelectList<Genres>()"
                class="custom-select">
            <option value="">Select genre</option>
        </select>
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
