@model Video
@{ 
    ViewData["Title"] = "Edit";
}

<h2 class="display-4 text-primary mt-2">
    Edit @Model.Title
</h2>
<hr />
<form method="post" asp-action="Edit">
    <partial name="_editVideo" />
</form>