@inject SignInManager<CustomUser> _signInManager
@inject UserManager<CustomUser> _userManager

@if (_signInManager.IsSignedIn(User))
{
    //Signed user
    <ul class="navbar-nav ml-auto">
        @if (_signInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <button class="nav-link btn py-0 btn-link text-dark mt-2">
                    Hi, Welcome @User.Identity.Name
                </button>

            </li>
            <li class="nav-item nav-link">
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <button class="nav-link btn py-0 btn-link text-dark" type="submit">
                        Logout
                    </button>
                </form>
            </li>
        }
    </ul>
}
else
{
    //Anonyous user
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Log in</a>
        </li>
    </ul>
}